.Container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.tabCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tabCont > h2 {
    cursor: pointer;
    padding : 5px 0;
    color: gray;
    margin: 0 4vw;
    text-align: center;
}

.tabCont > h2:hover{
    color: black;
}

.active {
    border-bottom: 5px solid #EC741D;
}

.title {
    font-weight: 700;
}

@media (max-width: 800px){
    .tabCont {
        justify-content: space-between;
    }

    .tabCont > h2 { 
        font-size: 5vw;
        font-weight: 500;
        flex-basis: 0;
        flex-grow: 1;
        margin: 0 2vw;
        text-align: center;
        vertical-align: middle;
    }

    .active {
        border-bottom: 2px solid #EC741D;
    }
}