/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.seccontainer {
    padding: 40px 40px;
    background-color: black;
    background-size: cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.backgroundContainer1, .backgroundContainer2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
    /* background-attachment: fixed; */
}

.backgroundContainer2 {
    background-size: cover;
    background-position: bottom;
}

.seccontainer>h1 {
    margin-top: 0;
    border-bottom: 1px solid white;
    padding: 10px;
    padding-top: 0;
}

/* section 1 */

.Sec1 {
    line-height: initial;
    padding: 140px 6vw;
    min-height: 100vh;
}

.Sec1 h1 {
    font-size: 4rem;
    border: none
}

.Sec1 h2 {
    font-size: 2.5rem;
}

.Sec1 button {
    background-color: #EC741D;
    border-radius: 15px;
    border: none;
    width: 12rem;
    height: 50px;
    cursor: pointer;
    outline: none;
    color: white;
    font-weight: 600;
    margin-top: 15px;
    font-size: 1rem;
}

.Sec1 p {
    font-weight: 600;
}

/* About the organisation section 2 */

.Sec2 {
    margin: 0 auto;
    max-width: 1200px;
    background-color: transparent;
}

.Sec2>p {
    font-size: 1.2rem;
    line-height: 1.8em;
    text-align: center;
    font-weight: 550;
}

/* Our locations section 3 */

/*Upcomming events section 4 */

/*Our Activities section 5 */

/* Testimonials section 6 */

.Sec3, .Sec4, .Sec5, .Sec6 {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: transparent;
}

.Sec6 {
    padding-bottom: 150px;
}

.downIcon {
    width: 6vh;
    position: absolute;
    bottom: 10px;
}

@media (max-width: 850px) {
    .Sec3 {
        padding: 10vh 9vh 1vh 9vh;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .seccontainer {
        padding: 10vh 2vw;
        padding-bottom: 0;
    }
    .seccontainer>h1 {
        font-size: 5.5vw;
        position: -webkit-sticky;
        position: sticky;
        top: 5vh;
        z-index: 150;
        padding: 0 2vw;
    }
    /* section 1 */
    .Sec1 {
        padding: 10vh 6vw;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .Sec1 p {
        font-size: 1rem;
    }
    .Sec1 h1 {
        font-size: 2rem;
        position: static;
        z-index: 0;
    }
    .Sec1 h2 {
        font-size: 1.3rem;
    }
    /* section 2 */
    .Sec2 {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .Sec2 p {
        font-size: 1.1rem;
        line-height: 1.5em;
    }
    .Sec3 {
        font-size: 1rem;
    }
    .Sec6 {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    /* .backgroundContainer1, .backgroundContainer2 {
        background-image: none !important;
    } */
}