.eventCardContainer {
    max-width: 1200px;
}

.showMore {
    color: #EC741D;
    cursor: pointer ;
    outline:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-top: 18px;
}

@media (max-width: 500px) {
    .eventCardContainer {
        margin: 0;
    }
}