/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.Container {

    border-left: 2px solid #EC741D;
    align-self: stretch;
    padding-left: 1.5vw;
    margin: 4vh 0;
    
}

.Container > h2 {
    padding : 0;
    margin: 0;
}

@media (max-width : 500px) {
    .Container {
        padding-left: 3vw;
    }
}