/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border-left: 1px solid #EC741D;
    padding: 0 18px;
    margin-top: 8vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header h2, h3 {
    margin: 0 10px 0 0;
}

.header h2 span {
    opacity: 0.5;
}

.header h3 {
    color: #EC741D;
}

.Container > p {
    margin: 5px 0;
}



@media (max-width:500px){
    .Container {
        margin-top: 1.6rem;
    }

    .header h2, h3 {
        font-size: 1.15rem;
    }

    .Container > p {
        font-size: 1.1rem;
        margin-top: 1.1rem;
    }
    
}