/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


.Container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.Container span {
    margin: 10px;
}

.Container hr {
    width: 50px;
    border: 2px solid #EC741D;
}

.directionButton{
    color: #EC741D;
}

@media (max-width : 500px){
    .Container {
        min-height: 75vh;
        padding: 1.8vh 1vw;
        padding-bottom: 6vh;
    }

    .Container p{
        font-size: 2.3vh;
        text-align: center;
        margin: 0;
    }

    .Container span {
        font-size: 2.3vh;
        margin: 0.5vh;
    }
    .Container h2 {
        font-size: 5vw;
        margin: 0;
    }

}