/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


.Container {
    padding: 100px 8vw 20px 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
}

.Container > h1 {
    border-bottom:1.5px solid black;
    padding: 5px 40px;
    margin: 10px 0 5vh 0;
}




@media (max-width: 500px){

    .Container > h1 {
        font-size: 5vw;
        padding: 0.6vh 6vw;
        position: -webkit-sticky;
        position: sticky;
        top: 5vh;
        z-index: 150;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 10px;
    }
}

@media (max-width: 800px){
    .Container{
        padding: 10vh 3vw 20px 3vw;
    }
}