.Container {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 10px;
    width: 100px;
    cursor: pointer;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-out;
}

.Container.Selected {
    animation: myanim 0.6s forwards;
}


/* button border animation */
@keyframes myanim {
    100% {
        border: 3px solid rgba(255, 255, 255, 1);
    }

    0% {
        border: 3px solid rgba(255, 255, 255, 0.4);
    }
 }


/* orange hr animation */
 @keyframes hranim {
    100% {
        border: 2px solid #EC741D;
    }


    0% {
        border: 2px solid rgb(0, 0, 0);
    }
 }

.Container hr {
    width: 40%;
    border: 0px solid rgb(0, 0, 0);
    
}

hr.Selected {
    animation: hranim 0.3s forwards;
}
