/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.Nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.Nav a {
    padding: 2vh 1.5vw;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 19px;
}

.Nav a:hover {
    color: #EC741D;
    cursor: pointer;
}

.Nav a:active{
    color: #EC741D;
}

.active {
    font-weight: 800;
}

@media (max-width: 500px) {
    .Nav a {
        font-size: 1.5em;
    }
}