.Container {
    display:  flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100vw;
    box-sizing: border-box;
    margin: 20px 0;
}

.imageCont {
    padding-top: 45px;
    align-self: stretch;
    width: 30%;
    padding-right: 20px;
}


.imageCont > img {
    height: 190px;
    object-fit: contain;
    width: 100%;
}

.textCont{
    width: 70%;
}



@media (max-width : 800px){
    .Container {
        flex-direction: column;
        height: auto;
        align-items: stretch; 
    }

    .textCont{
        width: 100%;
    }
    .imageCont {
        height: 25vh;
        width: 100%;
        padding-top: 0;
    }
    .textCont > h1 {
        font-size: 5.3vw;
        font-weight: 500;
    }
}