/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


.Container {
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cardContainer {
    width: 400px;
}

@media (max-width: 500px) {
    .cardContainer {
        width: 100%;
    }
    .Container {
        background-color: rgba(160, 160, 160, 0.2);
        border-radius: 20px;

    }
}